
.barracas{
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 60vh;
    background-image: linear-gradient(to top, rgb(3, 150, 255), rgb(49, 61, 227));
}

.bebidas{
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 60vh;
    background-image: linear-gradient(to top, rgb(25, 252, 101), rgb(1, 241, 17));
}

.brincadeiras{
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 60vh;
    background-image: linear-gradient(to top, rgb(255, 0, 0), rgb(227, 18, 18));
}

.outros{
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 60vh;
    background-image: linear-gradient(to top, rgb(255, 187, 40), rgb(255, 88, 55));
}



.conteudo{
    align-items: center;
    display: flex;
    flex-direction: column;
    max-height: 60vw;
}

.itens{
    margin-top: 14vh;
    padding: 2vh;
    border-radius: 3vh;
    font-size: 2vh;
    text-align: center;
    background-color: rgb(235, 182, 117);
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.informacoes{
    height: 100%;
    display: flex;
    flex-direction: row;
}

#card{
    width: 20vw;
    height: 60vh;
    border-radius: 2vh;
    transition: 0.5s;
}

.itens h1{
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
    background-color: white;
    margin-top: 0;
}



h2{
    padding: 2vh;
    width: 30vh;
    border-radius: 1vh;
    margin: 1.5vh;
    background-color: white;
    transition: 0.5s;
    max-height: 2vh;
    font-size: 3vh;
}

h2:hover{
    transition: 0.25s;
    transform: scale(1.1);
    
}




